<div class="rounded-lg hover:bg-gray-50 p-8 shadow-lg transition-transform transform hover:scale-105">
    <p class="font-mulish text-gray-500 mt-6 mb-2">{{include.event.date}} • {{include.event.location}}</p>
    <h2 class="text-2xl hover:underline font-bold my-2 text-gray-800">{{include.event.title}}</h2>
    <div class="font-mulish text-gray-700">
      {{include.event.description}}
    </div>
    <div class="my-4">
      {% for tag in include.event.tags %}
      <category class="font-mulish text-sm text-gray-500">#{{ tag | xml_escape }}</category>
      {% endfor %}
    </div>
</div>
