@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf1e1;
}

a.gentle-clicked {
  animation: gentle-bounce 0.3s ease-out; /* Shorter, smoother animation */
}

#events {
  background: #f9f9f9;
}

#events .bg-white {
  background: #ffffff;
  margin: 0 auto; /* Center align the cards */
}

#events .p-8 {
  padding: 32px; /* Ensures there is more space inside the card */
}

#events h3 {
  margin-bottom: 16px; /* More space below the title */
}

#events .mb-4 {
  margin-bottom: 16px; /* Ensures space between date/location and description */
}

#events .border-t {
  border-top-width: 1px;
}

#events .bg-gray-50 {
  background-color: #f7f7f7;
}

#events .grid {
  gap: 24px; /* Ensures there's enough space between cards */
}

#events .rounded-lg {
  border-radius: 16px; /* Slightly larger border-radius for a modern look */
}
